<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${city + '\'s Five Day Forecast'}"></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <style>
        body {
            background-color: #f5f5f5;
        }

        .container {
            background-color: #fff;
            margin-top: 20px;
            border-radius: 8px;
        }

        .header {
            background-color: #15ffaa;
            text-align: center;
            padding: 15px;
        }

        .header h1 {
            font-size: 30px;
        }

        .back-button {
            margin-bottom: 20px;
        }

        .day-button {
            width: 100%;
        }

        .day-button i {
            margin-right: 5px;
        }

        .table-striped td {
            vertical-align: middle;
        }

        .weather-icon {
            font-size: 20px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="header">
        <h1 th:text="${city + '\'s Five Day Weather Forecast'}">
            <i class="fas fa-sun"></i>
        </h1>
        <a href="/" class="btn btn-link back-button">Return to Weather Search</a>
    </div>

    <table class="table table-hover table-sm">
        <tbody>
        <tr class="table-active">
            <td>
                <button class="btn btn-info btn-lg day-button" th:value="${days[0]}" th:onclick="'showDay' + ${days[0]}">
                    <span th:text="${days[0]}"></span><br>
                    <i class="fas fa-sun weather-icon"></i>
                    <p class="text-center">Today</p>
                </button>
            </td>
            <td>
                <button class="btn btn-info btn-lg day-button" th:value="${days[1]}" th:onclick="'showDay' + ${days[1]}">
                    <span th:text="${days[1]}"></span><br>
                    <i class="fas fa-cloud-sun weather-icon"></i>
                    <p class="text-center">Tomorrow</p>
                </button>
            </td>
            <td>
                <button class="btn btn-info btn-lg day-button" th:value="${days[2]}" th:onclick="'showDay' + ${days[2]}">
                    <span th:text="${days[2]}"></span><br>
                    <i class="fas fa-cloud weather-icon"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-info btn-lg day-button" th:value="${days[3]}" th:onclick="'showDay' + ${days[3]}">
                    <span th:text="${days[3]}"></span><br>
                    <i class="fas fa-cloud-sun-rain weather-icon"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-info btn-lg day-button" th:value="${days[4]}" th:onclick="'showDay' + ${days[4]}">
                    <span th:text="${days[4]}"></span><br>
                    <i class="fas fa-cloud-showers-heavy weather-icon"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <td id="current_day">
                <span th:text="${days[0]}"></span> (Today)
            <td th:text="${list.time}"></td>
            <td th:text="${list.country}"></td>
            <td th:text="${list.countryISOCode}"></td>
            <td th:text="${list.temperature}"></td>
            <td th:text="${list.tempMin}"></td>
            <td th:text="${list.tempMax}"></td>
            <td th:text="${list.weather}"></td>
            <td th:text="${list.weatherDesc}"></td>
            <td th:text="${list.pressure}"></td>
            <td th:text="${list.humidity}"></td>
            </td>
        </tr>
        </thead>
        <!-- Today -->
        <tbody id="day0">
        <tr th:each="list : ${weather_data[0]}">
            <td th:text="${list.time}"></td>
            <td th:text="${list.country}"></td>
            <td th:text="${list.countryISOCode}"></td>
            <td th:text="${list.temperature}"></td>
            <td th:text="${list.tempMin}"></td>
            <td th:text="${list.tempMax}"></td>
            <td th:text="${list.weather}"></td>
            <td th:text="${list.weatherDesc}"></td>
            <td th:text="${list.pressure}"></td>
            <td th:text="${list.humidity}"></td>
        </tr>
        </tbody>
        <!-- Tomorrow -->
        <tbody id="day1" style="display: none;">
        <tr th:each="list : ${weather_data[1]}">
            <td th:text="${list.time}"></td>
            <td th:text="${list.country}"></td>
            <td th:text="${list.countryISOCode}"></td>
            <td th:text="${list.temperature}"></td>
            <td th:text="${list.tempMin}"></td>
            <td th:text="${list.tempMax}"></td>
            <td th:text="${list.weather}"></td>
            <td th:text="${list.weatherDesc}"></td>
            <td th:text="${list.pressure}"></td>
            <td th:text="${list.humidity}"></td>
        </tr>
        </tbody>
        <!-- 3rd day -->
        <tbody id="day2" style="display: none;">
        <tr th:each="list : ${weather_data[2]}">
            <td th:text="${list.time}"></td>
            <td th:text="${list.country}"></td>
            <td th:text="${list.countryISOCode}"></td>
            <td th:text="${list.temperature}"></td>
            <td th:text="${list.tempMin}"></td>
            <td th:text="${list.tempMax}"></td>
            <td th:text="${list.weather}"></td>
            <td th:text="${list.weatherDesc}"></td>
            <td th:text="${list.pressure}"></td>
            <td th:text="${list.humidity}"></td>
        </tr>
        </tbody>

        <!-- 4th day -->
        <tbody id="day3" style="visibility: collapse">
        <tr th:each="list : ${weather_data[3]}">
            <td th:text="${list.time}"></td>
            <td th:text="${list.country}"></td>
            <td th:text="${list.countryISOCode}"></td>
            <td th:text="${list.temperature}"></td>
            <td th:text="${list.tempMin}"></td>
            <td th:text="${list.tempMax}"></td>
            <td th:text="${list.weather}"></td>
            <td th:text="${list.weatherDesc}"></td>
            <td th:text="${list.pressure}"></td>
            <td th:text="${list.humidity}"></td>
        </tr>
        </tbody>

        <!-- 5th day -->
        <tbody id="day4" style="visibility: collapse">
        <tr th:each="list : ${weather_data[4]}">
            <td th:text="${list.time}"></td>
            <td th:text="${list.country}"></td>
            <td th:text="${list.countryISOCode}"></td>
            <td th:text="${list.temperature}"></td>
            <td th:text="${list.tempMin}"></td>
            <td th:text="${list.tempMax}"></td>
            <td th:text="${list.weather}"></td>
            <td th:text="${list.weatherDesc}"></td>
            <td th:text="${list.pressure}"></td>
            <td th:text="${list.humidity}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script>function showDay0(day){
	document.getElementById("current_day").innerHTML = day + " (Today)";
	document.getElementById("day0").style.visibility = "";
	document.getElementById("day1").style.visibility = "collapse";
	document.getElementById("day2").style.visibility = "collapse";
	document.getElementById("day3").style.visibility = "collapse";
	document.getElementById("day4").style.visibility = "collapse";
}

function showDay1(day){
	document.getElementById("current_day").innerHTML = day + " (Tomorrow)";
	document.getElementById("day0").style.visibility = "collapse";
	document.getElementById("day1").style.visibility = "";
	document.getElementById("day2").style.visibility = "collapse";
	document.getElementById("day3").style.visibility = "collapse";
	document.getElementById("day4").style.visibility = "collapse";
}

function showDay2(day){
	document.getElementById("current_day").innerHTML = day;
	document.getElementById("day0").style.visibility = "collapse";
	document.getElementById("day1").style.visibility = "collapse";
	document.getElementById("day2").style.visibility = "";
	document.getElementById("day3").style.visibility = "collapse";
	document.getElementById("day4").style.visibility = "collapse";
}

function showDay3(day){
	document.getElementById("current_day").innerHTML = day;
	document.getElementById("day0").style.visibility = "collapse";
	document.getElementById("day1").style.visibility = "collapse";
	document.getElementById("day2").style.visibility = "collapse";
	document.getElementById("day3").style.visibility = "";
	document.getElementById("day4").style.visibility = "collapse";
}

function showDay4(day){
	document.getElementById("current_day").innerHTML = day;
	document.getElementById("day0").style.visibility = "collapse";
	document.getElementById("day1").style.visibility = "collapse";
	document.getElementById("day2").style.visibility = "collapse";
	document.getElementById("day3").style.visibility = "collapse";
	document.getElementById("day4").style.visibility = "";
}</script>
</body>
</html>

